extends ../layouts/default

block head
	- pageTitle = 'Совет директоров';

block recommend
	- pageId = '0604';
	- recommend_lang = lang;

block content
	h3 Состав совета директоров
	p Состав Совета директоров ОАО «ТМК» сформирован в соответствии с принципом обеспечения баланса опыта, квалификации и независимости директоров в целях создания эффективного и профессионального органа управления, способного выносить объективные независимые суждения и принимать решения, отвечающие интересам Компании и ее акционеров. Членами Совета директоров избраны лица, имеющие безупречную деловую и личную репутацию и обладающие необходимыми для эффективной работы в Совете директоров компетенциями. В 2014 году состав Совета директоров не менялся и включал одиннадцать директоров.
	p На дату составления Годового отчета пять из одиннадцати директоров обладали статусом независимого директора, так как не зависели от должностных лиц Компании и ее аффилированных лиц, существенных контрагентов и конкурентов, от государственных структур, которые могли бы повлиять на их объективность. Директора являются независимыми как сообразно критериям, установленным ККУ ТМК, так и ККУ РФ. Независимый статус подтверждается Комитетом по назначениям и вознаграждениям Совета директоров каждый раз при избрании директора в Совет.
	p После годового Общего собрания акционеров, состоявшегося 19 июня 2014 года Совет директоров ОАО «ТМК» был переизбран и по состоянию на 31 декабря 2014 года действовал в следующем составе:


	+director_name("ПУМПЯНСКИЙ", "Дмитрий Александрович")
	h4 Председатель Совета директоров, неисполнительный директор.
	img.left(src=globalPath + 'assets/images/06/64/641.jpg')
	p.oh Родился в 1964 году, в 1986 году окончил Уральский политехнический институт им. С. М. Кирова, к.т. н., д.э.н. Является основателем и бенефициарным владельцем ТМК. Работает в Компании с 2002 года, возглавляет Совет директоров ОАО «ТМК» с 2004 года. Награжден медалью ордена «За заслуги перед Отечеством» II степени, орденом «За заслуги перед Отечеством» IV степени, орденом Почета, лауреат премии Правительства РФ в области науки и техники, имеет звание «Почетный металлург», в 2011 году признан победителем VI Национальной премии «Директор года» в номинации «Председатель Совета директоров: вклад в развитие корпоративного управления». В настоящее время активно участвует в общественной деятельности, связанной с развитием металлургической отрасли России. Научные интересы — экономика металлургии и физика металлов. Является автором 4 монографий и более 70 научных работ.

	h4 Основное место работы:
	p Президент ЗАО «Группа Синара».

	h4 Профессиональный опыт:
	p член Правления Торгово-промышленной палаты РФ, Председатель Попечительского Совета Федерации прыжков на лыжах с трамплина и лыжного двоеборья России, Председатель наблюдательного совета Уральского Федерального Университета, член Совета директоров ОАО «Синара-Транспортные машины», ОАО «СКБ-банк», член Совета Некоммерческой организации «Фонд развития Центра разработки и коммерциализации новых технологий», член Попечительского совета Фонда целевого капитала «Истоки», Президент Свердловского Областного Союза Промышленников и Предпринимателей (работодателей), Председатель Совета директоров ЗАО «Группа Синара», член бюро Правления РСПП, член Наблюдательного Совета Некоммерческого Партнерства «Консорциум «Русская Сталь». Ранее — член Совета директоров ряда промышленных и финансовых организаций, Генеральный директор ОАО «ТМК», руководитель высшего звена российских металлургических и трубных предприятий.

	h4 Доля непосредственного участия в уставном капитале ОАО «ТМК»:
	p 0,007%

	+director_name("АЛЕКСЕЕВ", "Михаил Юрьевич")
	h4 Независимый директор, Председатель Комитета по назначениям и вознаграждениям, член Комитета по аудиту.
	img.left(src=globalPath + 'assets/images/06/64/642.jpg')
	p Член Совета директоров с 2011 года. Родился в 1964 году, в 1986 году окончил Московский финансовый институт, а в 1989 году — аспирантуру при Московском финансовом институте, д.э.н.

	h4 Основное место работы:
	p Председатель Правления АО «ЮниКредит Банк».

	h4 Профессиональный опыт:
	p Председатель Совета директоров АО «РН Банк», член Совета директоров, член Комитета по аудиту ОАО «Аэрофлот», член Правления BARN B. V., Нидерланды, член советов Ассоциации Российских Банков и Ассоциации Региональных Банков России, Председатель Наблюдательного Совета ООО «ЮниКредит Лизинг», член Правления РСПП. Ранее — член Совета директоров, член Комитета по стратегии Совета директоров ОАО «Ростелеком», член Совета директоров ММВБ, ряда финансовых компаний, Президент-Председатель Правления РОСПРОМБАНКА, Старший вице-президент, заместитель Председателя Правления РОСБАНКА, заместитель Председателя Правления ОНЭКСИМ Банка, член Правления Межотраслевого коммерческого Банка, заместитель начальника Главного управления Министерства финансов СССР.
	h4 Акциями ОАО «ТМК» не владеет.

	+director_name("БЛАГОВА", "Елена Евграфовна")
	h4 Исполнительный директор.
	img.left(src=globalPath + 'assets/images/06/64/643.jpg')
	p Работает в ТМК с 2007 года, член Совета директоров ОАО «ТМК» с 2013 года. Родилась в 1959 году. В 1982 году окончила Челябинский политехнический институт им. Ленинского комсомола, в 1993 году — Московский Государственный Открытый Университет, награждена медалью ордена «За заслуги перед Отечеством» II степени, имеет звание «Почетный металлург».

	h4 Основное место работы:
	p Заместитель Генерального директора по специальным и новым проектам ОАО «ТМК».

	h4 Профессиональный опыт:
	p член Совета директоров ОАО «ВТЗ», Управляющий директор ОАО «ВТЗ», директор по финансам и экономике ОАО «ВТЗ».

	h4 Доля участия в уставном капитале ОАО «ТМК»:
	p 0,003%

	+director_name("КАПЛУНОВ", "Андрей Юрьевич")
	h4 Исполнительный директор.
	img.left(src=globalPath + 'assets/images/06/64/644.jpg')
	p Работает в ТМК с 2001 года, член Совета директоров с 2005 года. Родился в 1960 году, в 1982 году окончил Московский финансовый институт, затем аспирантуру при Московском финансовом институте, к.э.н., отмечен Благодарностью Министерства промышленности и торговли РФ.

	h4 Основное место работы:
	p Первый заместитель Генерального директора ОАО «ТМК».

	h4 Профессиональный опыт:
	p член Правления ОАО «ТМК», Председатель Совета директоров российских трубных заводов ТМК, ЗАО «ТД «ТМК», член Совета директоров ЗАО «Группа Синара», заместитель Председателя Совета директоров ОАО «СКБ-банк», член Совета фонда АО «МНПФ «БОЛЬШОЙ», член Попечительского совета СРСОФ «МФК «Синара». Ранее — директор департамента персонала и организационного развития ИНКОМБАНКА, РОСБАНКА, вице-президент Гута-банка, заместитель директора валютно-финансового департамента внешнеторгового объединения «Зарубежнефть», доцент кафедры экономической теории Московского финансового института.

	h4 Доля участия в уставном капитале ОАО «ТМК»:
	p 0,0116%

	+director_name("О’БРАЙЕН", "Питер")
	h4 Независимый директор, Председатель Комитета по аудиту.
	img.left(src=globalPath + 'assets/images/06/64/645.jpg')
	p Член Совета директоров с 2012 года. Родился в 1969 году. В 1991 году окончил Университет Дьюка (США), в 2000 году получил степень магистра делового администрирования (MBA) в Школе бизнеса Колумбийского университета, 2011 году прошел обучение по программе AMP (Advanced Management Program) в Гарвардской школе бизнеса. В 2008 году получил специальный приз «За вклад в повышение корпоративной прозрачности» Национальной премии Ассоциации независимых директоров.

	h4 Профессиональный опыт:
	p член Совета директоров и Председатель Комитета по аудиту IGSS, член Попечительского Совета Европейского Пенсионного Фонда, ранее — Председатель Совета директоров ОАО «РусРейлЛизинг», член Совета директоров и Председатель Комитета по аудиту HRT Partipacoes, член Правления, Руководитель группы финансовых советников при Президенте в ранге вице президента ОАО НК «РОСНЕФТЬ», Исполнительный директор по инвестиционному банкингу в России банка «Морган Стэнли» (Москва), вице-президент ИК «Тройка Диалог», работал в пресс-службе Государственного казначейства США.
	h4 Акциями ОАО «ТМК» не владеет.

	+director_name("ПАПИН", "Сергей Тимофеевич")
	h4 Неисполнительный директор.
	img.left(src=globalPath + 'assets/images/06/64/646.jpg')
	p Член Совета директоров с 2005 года, член Комитета по назначениям и вознаграждениям. Работает в ТМК с 2002 года. Родился в 1955 году, в 1977 году окончил Донецкий политехнический институт. Награжден орденом «Знак Почета», Почетной грамотой Министерства промышленности и энергетики РФ.

	h4 Основное место работы:
	p Вице-президент ЗАО «Группа Синара».

	h4 Профессиональный опыт:
	p Вице-президент, член Совета директоров ЗАО «Группа Синара», член Правления РСПП, член Совета директоров ОАО «Калугапутьмаш», ООО «Уральские локомотивы», ОАО «Пансионат отдыха «Бургас», ОАО «Архыз — Синара», ОАО «Синара — Транспортные Машины», ранее — член Совета директоров ЗАО «Интурист-Синара», ОАО «Людиновский тепловозостроительный завод», ОАО «Уральский завод железнодорожного машиностроения», заместитель Генерального директора по внешним и специальным проектам ОАО «ТМК», вице-президент ИНКОМБАНКА и Гута-банка.

	h4 Доля участия в уставном капитале ОАО «ТМК»:
	p 0,008%

	+director_name("ФОРЕСМАН", "Роберт Марк")
	h4 Независимый директор, член Комитета по назначениям и вознаграждениям.
	img.left(src=globalPath + 'assets/images/06/64/647.jpg')
	p Член Совета директоров с 2012 года. Родился в 1968 году. В 1990 году окончил Университет им. Бакнелла (США), а в 1993 году — аспирантуру искусств и наук Гарвардского университета, в 1989 году получил сертификат Московского энергетического института.

	h4 Основное место работы:
	p Управляющий Директор Barclays Plc, Глава Барклайс в России.

	h4 Профессиональный опыт:
	p Президент ООО «Барклайз Капитал»; ранее являлся членом Наблюдательного Совета ООО «Инвестиционная Компания Внешэкономбанка «ВЭБ КАПИТАЛ», заместителем Председателя Правления ИК «Ренессанс Капитал», членом Наблюдательного Совета ОАО «АКБ «ЕВРОФИНАНС МОСНАРБАНК», Председателем Правления по РФ и СНГ инвестиционного банка Дрезднер Кляйнворт Вассерштайн, Руководителем инвестиционно-банковского подразделения по РФ и СНГ ING Barrings, специалистом по сделкам с частным капиталом и по проектному финансированию Международной Финансовой Корпорации.
	h4 Акциями ОАО «ТМК» не владеет.

	+director_name("ХМЕЛЕВСКИЙ", "Игорь Борисович")
	h4 Неисполнительный директор, член Комитета по аудиту.
	img.left(src=globalPath + 'assets/images/06/64/648.jpg')
	p Работает в ТМК с 2003 года, член Совета директоров с 2004 года. Родился в 1972 году. В 1995 году окончил Уральскую государственную юридическую академию, в 1995 году окончил Шадринский Государственный Педагогический Институт, награжден Почетной грамотой Министерства Промышленности и энергетики РФ.

	h4 Основное место работы:
	p Вице-президент ЗАО «Группа Синара».

	h4 Профессиональный опыт:
	p член Совета директоров ЗАО «Группа Синара», директор в BRAVECORP LIMITED, TIRELLI HOLDINGS LIMITED, TMK STEEL LIMITED и SINARA CAPITAL MANАGEMENT, ранее — директор FUDBERG HOLDING LTD и TMK Global AG, член Административного совета TMK-ARTROM S. A., заместитель Генерального директора по правовой работе ОАО «ТМК», начальник управления правовых вопросов ЗАО «Группа Синара».
	h4 Акциями ОАО «ТМК» не владеет.

	+director_name("ЩЕГОЛЕВ", "Олег Александрович")
	h4 Независимый директор, член Комитета по стратегическому развитию.
	img.left(src=globalPath + 'assets/images/06/64/649.jpg')
	p Член Совета директоров с 2012 года. Родился в 1962 году. В 1984 году окончил Московский финансовый институт.

	h4 Профессиональный опыт:
	p Первый вице-президент ОАО «НК «Русснефть», Первый заместитель Председателя Правления, Первый заместитель Генерального директора ООО «НГК «Итера», Исполнительный директор ОАО «НГК «Славнефть», Председатель и член Советов директоров ряда нефтедобывающих и нефтесервисных компаний, заместитель начальника департамента перспективного развития ТЭК Министерства энергетики РФ, главный специалист, заместитель начальника департамента, начальник департамента ОАО «Сибнефть» (ныне «Газпромнефть»). Член Наблюдательного совета Ассоциации независимых директоров (АНД) России.
	h4 Акциями ОАО «ТМК» не владеет.

	+director_name("ШИРЯЕВ", "Александр Георгиевич")
	h4 Исполнительный директор. Член Комитета по стратегическому развитию.
	img.left(src=globalPath + 'assets/images/06/64/6410.jpg')
	p Работает в ТМК с 2003 года, член Совета директоров с 2005 года. Родился в 1952 году, в 1991 году окончил Свердловский институт народного хозяйства. Награжден Знаком отличия Свердловской области «За заслуги перед Свердловской областью» II степени, имеет звание «Почетный металлург».

	h4 Основное место работы:
	p Генеральный директор ОАО «ТМК».

	h4 Профессиональный опыт:
	p Председатель Правления ОАО «ТМК», член Совета директоров российских трубных заводов ТМК, Председатель Совета директоров ОАО «Орский машиностроительный завод», член Совета директоров ЗАО «Группа Синара» и ЗАО «ТД «ТМК», ранее — заместитель Генерального директора по развитию, Генеральный директор ЗАО «Группа Синара», заместитель Генерального директора по финансам и экономике ОАО «ТМК», Генеральный директор ОАО «Уралшина КО».

	h4 Доля участия в уставном капитале ОАО «ТМК»:
	p 0,017%

	+director_name("ШОХИН", "Александр Николаевич")
	h4 Независимый директор. Председатель Комитета по стратегическому развитию.
	img.left(src=globalPath + 'assets/images/06/64/6411.jpg')
	p Член Совета директоров с 2008 года. Родился в 1951 году, в 1974 году окончил Московский государственный университет им. М. В. Ломоносова, д.э.н., профессор. Награжден орденами «За заслуги перед Отечеством» III и IV степени, орденом Почета, орденом Святого Благоверного князя Даниила Московского II степени, медалью «В память 850-летия Москвы», в 2008 году стал победителем в номинации «Независимый Директор» Национальной премии Ассоциации независимых директоров.

	h4 Основное место работы:
	p Президент Общероссийской общественной организации «Российский союз промышленников и предпринимателей».

	h4 Профессиональный опыт:
	p РСПП, Президент Национального исследовательского университета «Высшая школа экономики», Председатель Комитета по кадрам и вознаграждениям ОАО «РЖД», член Совета директоров ОА «ОТЛК», Председатель Комитета по аудиту ООО «Буровая компания Евразия», член Международного Консультативного Совета — старший советник Bank of America Merrill Lynch, ранее — член Совета директоров ОАО «РЖД», член Совета директоров ОАО «Пивоваренная компания «Балтика», ОАО «Фортум», ОАО «ТNК ВР Limited», ОАО «ЛУКОЙЛ», ООО «Буровая компания Евразия», член Общественной Палаты РФ, Председатель Наблюдательного совета ИГ «Ренессанс Капитал», депутат Государственной Думы трех созывов, руководитель Министерства труда и занятости и Министерства экономики РФ, Российского агентства международного сотрудничества и развития, дважды назначался на должность заместителя Председателя Правительства РФ, представлял Россию в МВФ и Всемирном банке.
	h4 Акциями ОАО «ТМК» не владеет.


	p.mtb50 Члены Совета директоров по состоянию на 31.12.2014 г. в капитале подконтрольных организаций не участвовали, сделок по приобретению/отчуждению акций ОАО «ТМК» в 2014 году не совершали, конфликт интересов отсутствует.


	+director_name("КУРБАТОВ", "Максим Васильевич")
	h4 Секретарь Совета директоров (корпоративный секретарь).
	img.left(src=globalPath + 'assets/images/06/64/6412.jpg')
	p Родился в 1967 году. Выпускник Уральского политехнического института им. С.М. Кирова, Академии народного хозяйства при Правительстве РФ и Московской Государственной юридической академии.
	p Работает в ТМК с 2002 года.
	p Возглавлял Аппарат Генерального директора, а затем Службу корпоративного управления ОАО «ТМК». Непрерывно исполняет обязанности Секретаря Совета директоров с 2005 года.

	.bbd.clearfix
	p По версии Ассоциации независимых директоров в 50 лучших независимых директоров 2014 года вошли 4 независимых директора ТМК.


	h3 Итоги деятельности совета директоров в 2014 году
	p В 2014 году было проведено 30 заседаний Совета директоров, в том числе 8 заседаний — в очной форме.

	p Наиболее существенные вопросы и наиболее сложные проблемы, рассмотренные на заседаниях Совета директоров:
	ul
		li инвестиционная программа ТМК на 2015 год;
		li целевая структура ТМК на 2015 год;
		li консолидированный бюджет ТМК на 2015 год;
		li управленческая отчетность и консолидированная отчетность ТМК;
		li формирование единой компенсационной политики в Американском дивизионе ТМК;
		li утверждение бизнес-плана ТМК на 2014-2020 годы;
		li выполнение программы повышения эффективности;
		li оптимизация управленческой структуры ТМК;
		li корректировка инвестиционной программы на 2014 год;
		li о независимой оценке Совета директоров;
		li рекомендации Общему собранию акционеров по выплате дивидендов по результатам 2013 года, а также промежуточных дивидендов по результатам первого полугодия 2014 года.


	h3 Вознаграждение членов совета директоров
	p В соответствии с законодательством Российской Федерации (статья 64 Федерального закона «Об акционерных обществах») членам Совета директоров могут выплачиваться вознаграждения по решению Общего собрания акционеров. Акционеры ОАО «ТМК» определили следующие принципы и порядок вознаграждения членов Совета директоров в Положении о Совете директоров:
	ul
		li право на получение вознаграждения, связанного с исполнением возложенных на них обязанностей, имеют только директора, не являющиеся исполнительными лицами ОАО «ТМК»;
		li вознаграждение должно быть справедливым и соотноситься с долгосрочными интересами акционеров;
		li выплачиваемое вознаграждение включает:
			ul
				li фиксированное базовое вознаграждение Председателю и членам Совета директоров, которое выплачивается ежемесячно в размере 1/12 годового фиксированного вознаграждения;
				li дополнительное вознаграждение за выполнение обязанностей Председателя или члена Комитета Совета директоров, которое выплачивается на полугодовой основе в размере 1/2 утвержденного годового дополнительного вознаграждения;
		li выплаты членам Совета директоров регламентируются условиями Типового договора, утвержденного решением Общего собрания акционеров;
		li решение о размере вознаграждения члена Совета директоров принимается Общим собранием акционеров на основании рекомендации Совета директоров.

	p В Совет директоров входят 5 независимых директоров, 3 директора, не являющихся исполнительными директорами, и 3 исполнительных директора.
	p В 2014 году вознаграждение членам Совета директоров составило 1,89 млн долл. США.
