extends ../layouts/default

block head
	- pageTitle = 'Исполнительное руководство';

block recommend
	- pageId = '0607';
	- recommend_lang = lang;

block content
	p.excerpt Руководство текущей деятельностью ОАО «ТМК» осуществляется Генеральным директором и Правлением. Генеральный директор также выполняет функцию Председателя Правления.

	h3 Состав правления
	p В 2014 году изменений в составе Правления не происходило. На 31 декабря 2014 года Правление состояло из 8 членов:

	+director_name("ШИРЯЕВ", "Александр Георгиевич")
	div
		h4 Председатель Правления.
		img.left(src=globalPath + 'assets/images/06/67/671.jpg')
		p Биографические данные приведены в разделе «Совет директоров».

		h4 Основное место работы:
		p Генеральный директор ОАО «ТМК».


	+director_name("БИЛАН", "Сергей Иванович")
	div
		img.left(src=globalPath + 'assets/images/06/67/672.jpg')
		p Родился в 1962 году, в 1984 году окончил Ростовский институт инженеров железнодорожного транспорта, а в 2004 году — Академию бюджета и казначейства Министерства финансов РФ. Имеет звание «Почетный металлург», награжден Почетной грамотой Министерства промышленности, науки и технологий РФ.

		h4 Основное место работы:
		p заместитель Генерального директора ОАО «ТМК» по нефтегазовому сервису.

		h4 Профессиональный опыт:
		p заместитель Генерального директора ОАО «ТМК» и ЗАО «ТД «ТМК» по премиальным видам продукции и сервису, Генеральный директор ООО «ТМК НГС» и член Совета директоров ОАО «Орский машиностроительный завод», ранее — заместитель Генерального директора ОАО «ТМК» по маркетингу.

		h4 Доля участия в уставном капитале ОАО «ТМК»:
		p 0,005%

	+director_name("КАПЛУНОВ", "Андрей Юрьевич")
	div
		img.left(src=globalPath + 'assets/images/06/67/673.jpg')
		p Биографические данные приведены в разделе «Совет директоров».

		h4 Основное место работы:
		p Первый заместитель Генерального директора ОАО «ТМК».

	+director_name("КЛАЧКОВ", "Александр Анатольевич")
	div
		img.left(src=globalPath + 'assets/images/06/67/674.jpg')
		p Работает в ТМК с 2002 года. Родился в 1957 году. В 1979 году окончил Московский ордена Трудового Красного Знамени институт стали и сплавов, к.т. н. Лауреат Премии Правительства РФ в области науки и техники, награжден Почетной грамотой Министерства промышленности и энергетики РФ, имеет звание «Почетный металлург».

		h4 Основное место работы:
		p заместитель Генерального директора — Главный инженер ОАО «ТМК».

		h4 Профессиональный опыт:
		p директор Дирекции по техническому развитию ОАО «ТМК», член Совета директоров ОАО «РосНИТИ» и ОАО «СТЗ», ранее занимал руководящие должности на Оскольском электрометаллургическом комбинате.

		h4 Доля участия в уставном капитале ОАО «ТМК»:
		p 0,003%


	+director_name("ЛЯЛЬКОВ", "Александр Григорьевич")
	div
		img.left(src=globalPath + 'assets/images/06/67/675.jpg')
		p Работает в ТМК с 2003 года. Родился в 1961 году. В 1989 году окончил Волгоградский политехнический институт. Лауреат Премии Правительства РФ в области науки и техники, награжден медалью «За строительство Байкало-Амурской магистрали», медалью «Честь и польза» Международного благотворительного фонда, имеет звание «Почетный металлург» и звание «Российский лидер качества» Всероссийской организации качества.

		h4 Основное место работы:
		p Первый заместитель Генерального директора ОАО «ТМК».

		h4 Профессиональный опыт:
		p член Совета директоров ОАО «ТАГМЕТ» и ОАО «СинТЗ», ранее — заместитель Генерального директора по производству, технологии и качеству ОАО «ТМК», Управляющий директор, затем член Совета директоров ОАО «ВТЗ», работал на заводе в различных должностях с 1980 года.

		h4 Доля участия в уставном капитале ОАО «ТМК»:
		p 0,0037%

	+director_name("ОБОРСКИЙ", "Владимир Брониславович")
	div
		img.left(src=globalPath + 'assets/images/06/67/676.jpg')
		p Работает в ТМК с момента основания Компании. Родился в 1961 году. В 1982 году окончил Киевское высшее общевойсковое командное училище им. М. В. Фрунзе, в 1994 году — Военную академию им. М. В. Фрунзе, в 2009 году окончил НМО АНО Международный университет в Москве (программа MBA), к.э.н. Награжден медалью «За боевые заслуги», орденом «За военные заслуги», Почетной грамотой Министерства промышленности и торговли РФ.

		h4 Основное место работы:
		p Генеральный директор ЗАО «ТД «ТМК». Исполнительный директор — Первый заместитель Генерального директора ОАО «ТМК».

		h4 Профессиональный опыт:
		p член Совета директоров ЗАО «ТД «ТМК», ЗАО «ТМК-КПВ», ранее — Первый заместитель Генерального директора — Исполнительный директор ЗАО «ТД «ТМК», директор Департамента по работе с АК «Транснефть» и предприятиями газовой промышленности ЗАО «ТД «ТМК», начальник Управления по работе с ключевыми клиентами и Управления по работе с предприятиями газовой промышленности ЗАО «Торговый дом «ВТЗ».

		h4 Доля участия в уставном капитале ОАО «ТМК»:
		p 0,0008%

	+director_name("ПЕТРОСЯН", "Тигран Ишханович")
	div
		img.left(src=globalPath + 'assets/images/06/67/677.jpg')

		p Работает в ТМК с 2001 года. Родился в 1968 году. В 1993 году окончил Ереванский государственный университет. Награжден Почетной грамотой Министерства промышленности, науки и технологий РФ.

		h4 Основное место работы:
		p заместитель Генерального директора по экономике и финансам ОАО «ТМК».

		h4 Профессиональный опыт:
		p член Совета директоров ЗАО «ТД «ТМК», ОАО «Орский машиностроительный завод», российских трубных заводов ТМК, ООО «ТМК — ИНОКС», ранее — заместитель Генерального директора по экономике ОАО «ТМК» и ЗАО «ТД «ТМК», директор Дирекции по экономике и планированию ОАО «ТМК», начальник планово-экономического управления ОАО «ВТЗ», заместитель Генерального директора ООО «Волжский аудит», сотрудник Министерства экономики Республики Армения.

		h4 Акциями ОАО «ТМК» не владеет.

	+director_name("ШМАТОВИЧ", "Владимир Владимирович")
	div
		img.left(src=globalPath + 'assets/images/06/67/678.jpg')
		p Работает в ТМК с 2005 года. Родился в 1964 году. В 1989 году окончил Московский финансовый институт, а в 1993 году — Университет Нотр-Дам в США (программа MBA). Награжден Почетной грамотой Министерства промышленности и торговли РФ, медалью им. К. Э. Циолковского. Имеет звание «Почетный нефтяник» ОАО «Удмуртнефть». Награжден знаком «Заслуженный работник ТМК».

		h4 Основное место работы:
		p заместитель Генерального директора по стратегии и развитию ОАО «ТМК».

		h4 Профессиональный опыт:
		p член Совета директоров Lhoist-TMK B. V. и OFS Development SARL, Председатель Совета директоров TMK GIPI, управляющий класса «А» в Completions Development S.а r.l., директор в TMK Completions Ltd., ранее — член Совета директоров ОАО «СКБ-банк», заместитель Генерального директора по финансам и экономике ОАО «ТМК», заместитель Генерального директора, директор по финансам в ряде компаний (Удмуртнефть, Сиданко, РусПромАвто), Генеральный директор ОАО «Интеррос».
		h4 Акциями ОАО «ТМК» не владеет.

	.bbd.mtb50
	p Члены Правления по состоянию на 31.12.2014 г. в капитале подконтрольных организаций не участвовали, сделки по приобретению или отчуждению акций ОАО «ТМК» не совершались.

	h4 Вознаграждение исполнительного руководства
	p Вознаграждение, выплачиваемое Генеральному директору и членам Правления, состоит из:
	ul
		li фиксированной заработной платы, определяемой в соответствии с трудовым договором и выплачиваемой ежемесячно;
		li переменной части (бонуса), рассчитываемого исходя из индивидуально определенных ключевых показателей эффективности, ежегодно утверждаемых Советом директоров. Бонус Генеральному директору и членам Правления выплачивается при условии достижения ими этих показателей и последующего утверждения Советом директоров отчета о проделанной работе.

	p В 2014 году размер вознаграждения Генерального директора и членов Правления с учетом страховых взносов составил 6,83 млн долл. США.
